### Function

In [ ]:
def get_list_len(your_list):
    # "list comprehension" - python docs
    list_starts_with_a = [item for item in your_list if item.startswith("a")]
    print(list_starts_with_a)

#     list_starts_with_a = 0
#     for item in your_list:
#         if item.startswith("a"):
#             list_starts_with_a = list_starts_with_a + 1
            
    return len(list_starts_with_a)

my_list = ["aeger", "baser", "aerec", "dhaer", "aegserz", "dwegx"]
get_list_len(my_list)

In [ ]:
sorted_list = list(range(30))
sorted_list

### Write a program to check if a number is in the sorted list

In [ ]:
test_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
2

In [ ]:
data = list(range(100000000))
print(len(data))

In [ ]:
# brute force solution
def check_numbers_existence(lst, num):
    for item in lst:
        if item == num:
            return True
    
    return False

In [46]:
# Python 3 program for recursive binary search.
# Modifications needed for the older Python 2 are found in comments.

# Returns index of x in arr if present, else -1
def binary_search(arr, low, high, x):

	# Check base case
	if high >= low:

		mid = (high + low) // 2

		# If element is present at the middle itself
		if arr[mid] == x:
			return mid

		# If element is smaller than mid, then it can only
		# be present in left subarray
		elif arr[mid] > x:
			return binary_search(arr, low, mid - 1, x) # "recursive function call"/"recursion" - python docs

		# Else the element can only be present in right subarray
		else:
			return binary_search(arr, mid + 1, high, x)

	else:
		# Element is not present in the array
		return -1

# Test array
arr = [ 2, 3, 4, 10, 40 ]
x = 44

# Function call
result = binary_search(arr, 0, len(arr)-1, x)

if result != -1:
	print("Element is present at index", str(result))
else:
	print("Element is not present in array")

Element is not present in array

In [ ]:
%%timeit  # "magic function" - python docs
check_numbers_existence(data, 100000000)

### SQL

In [49]:
df = pd.DataFrame([[1, 2, 3, 4],
              [2, 3, 4, 5],
              [4, 5, 6, 7],
              [5, 6, 7, 8]],
             columns=["A", "B", "C", "D"])
df
# TABLE NAME: data

   A  B  C  D
0  1  2  3  4
1  2  3  4  5
2  4  5  6  7
3  5  6  7  8

### 1. ALL columns, ALL rows

In [50]:
# SELECT * 
# FROM data;
df

   A  B  C  D
0  1  2  3  4
1  2  3  4  5
2  4  5  6  7
3  5  6  7  8

### 2. ALL columns, certain rows

In [51]:
# SELECT *
# FROM data
# WHERE A > 2;
df[df["A"] > 2]

   A  B  C  D
2  4  5  6  7
3  5  6  7  8

### 3. Certain column, certain rows

In [53]:
# SELECT A, B
# FROM data
# WHERE A > 2;
df[df["A"] > 2][["A", "B"]]

   A  B
2  4  5
3  5  6

In [ ]:
SELECT ______
FROM _______
WHERE ________
GROUPBY _______
HAVING _______
ORDER BY ______